@import "partials/_custom.scss";
@import "../bootstrap-scss/bootstrap.scss";

.elm__bg--gray {
  background-color: $bg-color;
}

.elm__bg--white {
  background-color: $bg-white;
}

.elm__color--brown {
  color: $brown;
}

.elm_size--16 {
  font-size: 1.6rem;
}

.elm_weight--bold {
  font-weight: bold;
}

.elm__rounded--15 {
  border-radius: 15px;
}

.row__col {
  width: 272px;
  height: 272px;
}

.row__col--active-border {
  border: 2px solid $pink;
}

.row__col--active-bg {
  background-color: $pink;
  background: $pink;
}