$black: #000;
$brown: #463F3A;
$pink:  #C32C72;
$gray:  #E5E5E5;
$white: #F4F3EE;

$component-active-color:        $pink;
$nav-tabs-link-active-color:    $pink;
$nav-pills-link-active-color:   $pink;
$navbar-dark-active-color:      $pink;
$navbar-light-active-color:     $pink;
$navbar-light-brand-color:      $black;
$bg-color:                      $gray;
$bg-white:                      $white;